In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
miles = pd.DataFrame({'farthest_run_mi':[50,62,np.nan,100,26,13,31,50]})

In [4]:
miles

   farthest_run_mi
0             50.0
1             62.0
2              NaN
3            100.0
4             26.0
5             13.0
6             31.0
7             50.0

In [7]:
miles.isna().sum()

farthest_run_mi    1
dtype: int64

In [8]:
from sklearn.impute import SimpleImputer

In [9]:
imp_mean = SimpleImputer(strategy='mean')

In [12]:
imp_mean.fit_transform(miles)

array([[ 50.        ],
       [ 62.        ],
       [ 47.42857143],
       [100.        ],
       [ 26.        ],
       [ 13.        ],
       [ 31.        ],
       [ 50.        ]])

In [13]:
imp_median = SimpleImputer(strategy='median')

In [14]:
imp_median.fit_transform(miles)

array([[ 50.],
       [ 62.],
       [ 50.],
       [100.],
       [ 26.],
       [ 13.],
       [ 31.],
       [ 50.]])

In [23]:
imp_mode = SimpleImputer(strategy='most_frequent')

In [25]:
imp_mode.fit_transform(miles)

array([[ 50.],
       [ 62.],
       [ 50.],
       [100.],
       [ 26.],
       [ 13.],
       [ 31.],
       [ 50.]])

In [26]:
imp_constant = SimpleImputer(strategy='constant',fill_value=13)

In [27]:
imp_constant.fit_transform(miles)

array([[ 50.],
       [ 62.],
       [ 13.],
       [100.],
       [ 26.],
       [ 13.],
       [ 31.],
       [ 50.]])

In [28]:
names = pd.DataFrame({'name' : ['ryan' , 'nolan' , 'honus', 'wagner' , np.nan, 'ruth']})

In [29]:
names

     name
0    ryan
1   nolan
2   honus
3  wagner
4     NaN
5    ruth

In [33]:
imp_constant_cat = SimpleImputer(strategy='constant', fill_value='babe')

In [34]:
imp_constant_cat.fit_transform(names)

array([['ryan'],
       ['nolan'],
       ['honus'],
       ['wagner'],
       ['babe'],
       ['ruth']], dtype=object)

In [37]:
imp_mean_marked = SimpleImputer(strategy='mean',add_indicator=True)

In [38]:
imp_mean_marked.fit_transform(miles)

array([[ 50.        ,   0.        ],
       [ 62.        ,   0.        ],
       [ 47.42857143,   1.        ],
       [100.        ,   0.        ],
       [ 26.        ,   0.        ],
       [ 13.        ,   0.        ],
       [ 31.        ,   0.        ],
       [ 50.        ,   0.        ]])

In [42]:
imp_mode_marked = SimpleImputer(strategy='most_frequent',add_indicator=True)

In [43]:
imp_mode_marked.fit_transform(names)

array([['ryan', False],
       ['nolan', False],
       ['honus', False],
       ['wagner', False],
       ['honus', True],
       ['ruth', False]], dtype=object)